{% extends "base.html.twig" %}
{% block title %}Головна{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>INSO-Львів</h1>
        <p>Академічний симфонічний молодіжний оркестр</p>
    </div>
    <div id="section1" class="container-fluid">
            <p>«ІNSO-Львів» (International Symphony Orchestra) заснований в 1998 році.</p>
            <p>Справжнім «Золотим фондом» оркестру є співпраця із всесвітньо відомими музикантами та диригентами. Солістами в концертних програмах «INSO-Львів» виступали Франсуа Лельо, Ліза Батіашвілі, Вольфганг Емануель Шмідт, Олександр Земцов, Сергій Накаряков, Отто Заутер, Валерій Соколов, Вадим Неселовський, Сімон Трпчеський, Клод Делангль, Андрій Бєлов, Алессандро Сафіна, Марія Прінц, Філіпп Пєрло, Ілля Груберт, Алан Берн, Лорен Скламберг, Леопольд Козловський та багато інших. Серед запрошених диригентів, з якими оркестр пов’язує плідна та успішна співпраця, &#8211; Георг Кугі, Сер Дірк Броссе, Кшиштоф Пендерецький, Раймонд Янссен, Сімон Камартін, Оксана Линів, Фахраддін Керімов, Стівен Дікрен, Анна Скрильова, Ніколас Паск’є, Далія Стасевська, Крістіан Шуман та інші.</p>
            <p>Щороку оркестр «INSO-Львів» здійснює гастрольні турне країнами Європи. Географія гастрольної діяльності оркестру включає також такі країни, як Колумбія та Китай. «INSO-Львів» є учасником міжнародних музичних фестивалів в Україні та за кордоном.</p>
            <p>CD оркестру відзначені нагородами Radio Swiss Classic. В червні 2017 року французька продакшн-компанія Paramax Films зняла фільм з виступом «INSO-Львів» на Міжнародному фестивалі Alfa Jazz Fest за участю зіркового тріо Авішая Коена. Трансляція фільму відбудеться в січні 2018 року на телеканалі Mezzo. В 2017 році оркестр започаткував плідну співпрацю з британським лейблом Toccata Classic.</p>
            <p>«INSO-Львів» є носієм ідеї миру, і в своїх проектах оркестр впроваджує ключову місію &#8211; культурну дипломатію – завдяки об’єднуючий силі музики. В березні 2014 році оркестр ініціював та провів всеукраїнську культурну акцію «Спільне Повітря», що об’єднала найпровідніші оркестри України, які одночасно виконали «Оду до радості» Людвіга Ван Бетховена в найбільших аеропортах України (Київ, Одеса, Донецьк, Харків, Дніпропетровськ, Львів) на знак єдності країни та відзначення підписання політичної частини угоди про Асоціацію з ЄС. В 2015 році «INSO-Львів» організував масштабну музичну подію «БАХ Маратон &#8211; Ready. Steady BACH!», що об’єднала понад 600 музикантів з різних країн світу, встановивши рекорд України в номінації «Масові заходи» за найтриваліше живе виконання музики Й.С. Баха в Україні. Щороку оркестр реалізує музичні проекти під гаслом «Класика заради Миру», один з яких з резонансом відбувся в Києві 15 листопада 2015 року за участю всесвітньо відомого диригента та композитора, головного диригента світового концертного туру «Зоряні війни» Сера Дірка Броссе. У співпраці з австрійським диригентом Георгом Кугі оркестр щороку виконує концертні програми з серії «Симфонічні перлини Відня», «Музика Дунайського простору», «Академія оркестру «INSO-Львів».</p>
            <p>Про визнання високого професійного рівня оркестру свідчать запрошення його до участі в якості базового оркестру на міжнародних фестивалях і конкурсах. Зокрема, в серпні 2017 року «INSO-Львів» взяв участь в першому Міжнародному фестивалі класичної музики LvivMozArt, а вже у вересні цього ж року – в 24-му Міжнародному конкурсі ім. Йоганнеса Брамса в м. Перчах (Австрія).</p>
            <p>«INSO-Львів» &#8211; це яскрава палітра емоцій, якими музиканти діляться зі своїми слухачами, втілюючи творчу, культурно дипломатичну і просвітницьку місію.</p>
            <p>Художній керівник оркестру – народний артист України, лауреат Національної премії імені Тараса Шевченка, академік Академії мистецтв України, професор, кандидат мистецтвознавства, Герой України – Мирослав СКОРИК.</p>
            <p>З 2007 року Головою Правління оркестру та ідейним натхненником багатьох проектів і програм є Іоланта Пришляк.</p>
            <p>«…оркестр, що складається з молодих, мотивованих та допитливих музикантів…» &#8211; Ліза Батіашвілі</p>
            <p>«Ентузіазм, відданість та професіональний підхід музикантів надзвичайно вразили мене» &#8211; Сер Дірк Броссе</p>
            <p>«…Оркестр «INSO-Львів» є чимось особливим: він поєднує в собі високу професійну етику та молодіжний дух!» &#8211; Олександр Земцов</p>
    </div>
    <div id="section2" class="container-fluid">
        <h1>Section 2</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
    <div id="section3" class="container-fluid">
        <h3>Наші друзі</h3>
        <p><img src="http://www.leopolishotel.com/fileadmin/templates/leopolis/images/logos/logo.png">
        <img src="http://www.thomastik-infeld.com/sites/default/files/logo.png">
        <img src="http://kumpelgroup.com/wp-content/uploads/kumpel_group_logo3.png">
        <img src="https://lh3.googleusercontent.com/z2uyp2F6mnhx1Q--vaI0Pw67O4tZqoSftbUp50RN3oMfb9m_LTiv63ovqdcWhRK8rQ=s180"> </p>
    </div>


{% endblock %}